body{
    background-color: black;
}
h1,h2,h3,h4,h5,p{
    font-style: cursive;
    text-shadow: white;
    color: white;
}

.cuadro1{
    background-color: teal;
    border: white 8px groove;
    color: black;
    width: 270px;
    padding: 10px;
    text-anchor: end;
    margin-left: 100px;
    transform:rotate(-14deg);
}
p.cuadro1{
    color: black;
}
.logo-foto{
    position:relative;
    border: red 5px groove;
    width: 300px;
    left: 900px;
    top: -80px;
    transform: rotate(14deg);
}
.mantenimiento2{
    border: white 5px groove;
    padding: 3px;
    width: 250px;
    height: 100px;
    background-color: rgb(238, 124, 104);
    position:absolute;
    top: 50%;
    left: 38%;
}
.mantenimiento{
    border: white 5px groove;
    padding: 3px;
    width: 200px;
    background-color: tomato;
    position: absolute;
    top: 53%;
    left: 40%;
    box-shadow: tomato;
}
.caja1{
    float: left;
    border: 5px rebeccapurple ridge;
    padding: 3px;
    text-align: center;
    width: 500px;
    background-color: rgb(14, 19, 36);
    margin: 3px;
}
.caja2{
    float: right;
    border: 5px rebeccapurple ridge;
    padding: 3px;
    text-align: center;
    width: 500px;
    background-color: rgb(14, 19, 36);
    margin: 3px;
}