@media screen and (min-width: 350px) {
    .cuadro1{
        background-color: teal;
        border: white 8px groove;
        color: black;
        width: 270px;
        padding: 10px;
        text-anchor: end;
        margin-left: auto;
        margin-right: auto;
        transform:rotate(0);
    }
    h1{
        font-size: 1.6em;
    }
    h3{
        font-size: 1em;
    }
 
    .caja1{
        margin-top: 6px;
        border: 5px rebeccapurple ridge;
        padding: auto;
        text-align: center;
        width: 90%;
        background-color: rgb(14, 19, 36);
        margin-left: auto;
        margin-right: auto;
    }
    .caja2{
        margin-top: 6px;
        border: 5px rebeccapurple ridge;
        padding: auto;
        text-align: center;
        width: 90%;
        background-color: rgb(14, 19, 36);
        margin-left: auto;
        margin-right: auto;
    }
}